path "<vpath>/creds/{{identity.entity.aliases.<kerberos>.name}}@<domain>:*" {
    capabilities = [ "list", "read" ]
}
path "<vpath>/creds/{{identity.entity.aliases.<kerberos>.name}}:*" {
    capabilities = [ "list", "read" ]
}
