path "<vpath>/creds/{{identity.entity.aliases.<oidc>.name}}:<role>" {
    capabilities = [ "list", "read", "update" ]
}
path "<vpath>/creds/{{identity.entity.aliases.<oidc>.name}}/*" {
    capabilities = [ "list", "read", "update" ]
}
